.tweet-form-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.tweet-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid lavender;
    border-radius: 10px;
}

.tweet-form input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.tweet-form input:focus{
    outline: none;
    border: 2px solid rgb(64, 152, 224);
    border-radius: 5px;
}

.tweet-form .button{
    background-color: rgb(118, 172, 243);
    color: white;
    border: none;
    padding: 10px 20px;
}

.tweet-form .button:hover{
    background-color: rgb(56, 102, 230);
    cursor: pointer;
}